// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Snotify Toast Notifications
@import "~vue-snotify/styles/material";
// Placeholder loader
@import "~placeholder-loading/src/scss/placeholder-loading";
.container-fluid {
    padding: 0 !important;
}

html,body,#app,main {
    height: 100%;
}

.d-flex {
  min-height: 0;           /* NEW */
  min-width: 0;            /* NEW */
}

#chat-component {
  height:100%
}

#main-chat-card {
  min-height: 0;           /* NEW */
  min-width: 0;            /* NEW */
}

#messages-list {
    flex: 1 1 auto;
    overflow-y: auto;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
